DS_URL=jdbc:postgresql://db:5432/pollapp
DS_USERNAME=pollapp
DS_PASSWORD=pollapp
SPRING_PROFILES_ACTIVE=dev

ADDITIONAL_OPTS=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=5005
PROFILE=dev

# Jwt Secret necessities a HMAC SHA512 key
# you can create one with de command below
# echo -n "somevalue" | openssl sha512 -hmac "somekey"
JWT_SECRET=2d4cac2c43fd3881b3d6dbdf3bab2f9cc0375630a0a56860216738c64fdb9196a4e7a8b4d567decb5f48d5ab5ea66cd1bfd13e468289df6a8ddd7ca1704c0071
